.blogDiv {
    width: 9rem;
    height: 11rem;
    margin: 2px;
    font-size: 1rem;
    border: solid thin darkgrey;
    float: left;
    padding: .5rem;
    position: relative;
  }
  
  .blogpost-author {
    position: absolute;
    font-size: .75rem;
    bottom: 0;
    left: 0;
    padding: .5rem;
    /* font-style: italic; */
    font-weight: bold;
  }
  
  