<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="author">Blog Post Author:</label>
            <input
              type="text"
              id="author"
              class="form-control"
              size="120"
              max="120"
              name="author"
              [ngModel]= blogpost?.author
              required
              #name="ngModel" >
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="title">Blog Post Title:</label>
            <input
              type="text"
              id="title"
              class="form-control"
              size="120"
              max="120"
              name="title"
              [ngModel]= blogpost?.title
              required
              #name="ngModel" >
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Blog Post Description:</label>
            <input
              type="text"
              id="description"
              class="form-control"
              size="120"
              max="255"
              name="description"
              [ngModel]= blogpost?.description >
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Blog Post Image URL:</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              size="150"
              max="255"
              name="imageUrl"
              [ngModel]= blogpost?.imageUrl
              required
              #imageUrl="ngModel" >
              <div class="alert alert-danger" *ngIf="!name.valid || !imageUrl.valid">
                The Blog Post Title and Blog Post Image URL are required fields.
              </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled] ="!f.valid" >Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  