<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<h3>I'm in the AppComponent!</h3>

<hr>

<app-servers></app-servers>
<app-warning-alert></app-warning-alert>
<hr>
<app-success-alert></app-success-alert>
<hr>
<div class="container">
  <div class="row">
    <h3>NG Model Piece from activity:</h3>
    <input type="text" [(ngModel)]="name">
    <p>{{ name }}</p>
  </div>
</div>
<hr>


    <h3>Directives Problem</h3>
    <button class="btn btn-primary" (click)="onToggleDetails()">Toggle Displays</button>
    <p *ngIf="showSecret">Secret Password = Tuna Fish</p>
  <div 
    *ngFor="let logItem of log; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
    [ngClass]="{'white-text': i >= 4}"
  >{{ logItem }}</div>
